html {
  font-size: 62.5%;
  font-family: 'Avenir', serif;
  background-color: black;
}

.header {
  height: 70px;
  top: 0px;
  left: 0px;
  right: 0px;
  border: solid;
  position: fixed;
  z-index: 1;
  display: inline-block;
  background-color: lightgray;
}

.content {
  margin: 90px auto;
}

nav ul li {
  font-size: 1.4rem;
  font-variant: small-caps;
	list-style-type: none;
  display: inline-block;
  padding-right: 3%;
}

#mj {
  font-size: 3rem;
  font-weight: bold;
  padding-right: 2%;
}

.container {
  position: relative;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.slider {
  margin: 0 auto;
}

.slider img {
  padding-left: 10%;
  padding-right: 10%;
}

.research_sub {
  font-weight: bold;
}

.research_description {
  margin-left: 30%;
  margin-right: 30%;
  text-align: left;
}

#coursework {
  font-weight: bold;
  font-size: 1.4rem;
}

a:link {
  color: black;
}

a:visited {
  color: darkgray;
}

a:hover {
  color: white;
}

p {
  padding-left: 5%;
  padding-right: 5%;
}

.titles {
  font-size: 1.2rem;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  background-color: lightgray;
}

textarea {
  color: lightgray;
  font-size: 0.3rem;
  font-style: italic;
}